<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
<META Http-Equiv="Pragma" Content="no-cache"/>
<META Http-Equiv="Expires" Content="0"/>
    <title>@ViewData["Title"] - site</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="shortcut icon" href="~/images/icon.png" /><link rel="icon" href="rec/icon.png" sizes="32x32" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/css/site.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="shortcut icon" href="~/images/icon.png" /><link rel="icon" href="rec/icon.png" sizes="32x32" />
    </environment>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="height: 70px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style="padding-top: 10px;">
                    <img src="~/images/robotlogo.png" id="logo"> 
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right" style="padding-top: 10px;">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ListGjester">Guestbook</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Innlegg">Blog</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container container-full" style="background: #fff; border-radius: 10px; margin-top: 50px;" >
         <div class="row">
         @RenderBody()
         </div>
        
        <div class="row" style="background: #f9f9f9; border-top: 1px #dddddd solid; padding-top: 10px;">
            <div class="col-md-4">
                <h4>Kontakt</h2>
                <ul>
                    <li> Edwin Delgado</li>
                    <li> e-post: mr.edwin74&#64;gmail.com</li>
                    <li> mob: 46 88 68 29</a></li>
                    <li> Adresse: Fidjeåsen 60, Kristiasand</a></li>
                    <li> http://www.edwin-delgado.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Erfaring</h4>
                            <p> I mitt arbeid som ingeniør har jeg jobbet med Kontroll Systemet som "Product Engineer Software" og PLS programmering. 
                                Arbeidet med å finne løsninger på tekniske problemstillinger har gitt meg bekreftelse at jeg har valgt riktig yrke.</p>
            </div>
            <div class="col-md-4">
                <blockquote style="font-style: italic; font-size: 16px;">
                                <p> Ordet ingeniør uttales på norsk «insjeniør» og er avledet av ingenium som på latin betyr «begavelse, oppfinningsevne» og i middelalderlatin «(krigs)maskin».</p>
                                <footer style="text-align: right"><a href="https://no.wikipedia.org/wiki/Ingeni%C3%B8r"> Tante Wiki</a></footer>
                            </blockquote>
            </div>
        </div>
        <div class="row" style="padding-right: 10px; text-align: right; background: #f9f9f9; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <p>&copy; Designed by Edwin Delgado | Powered by Myself</p>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
