@{
    ViewData["Title"] = "Who is this guy?";
}

<div class="row" style="padding-bottom: 20px; margin-left: 20px; margin-right: 20px;">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-2">
        <img src="~/images/about_img01.png">
    </div>
    <div class="col-md-10" style="padding-top: 20px;">
        <p>
            Jeg er en gutt modell 1974, som studerte ingeniør fag i Mekatronikk, er også glad i programmering og matematikk.
        </p>
        
        <p>
            Jeg har vært gift i 18 år, har tre barn, er veldig glad i å være ute i naturen. 
            Mine fritidsaktiviteter er fotballtrening med mine «gamle» kolegaer fra MhWirth, 
            friluftsturer med familien, jakt (en gang i året), svømming, ølbryggingstreff 
            og motorsykkelturer (alene).
        </p>
        
        <p>
            I mitt arbeid som ingeniør har jeg jobbet med Kontroll Systemet og utvikling av løfteutstyr i samarbeid med mekanisk 
            og hydraulisk avdeling. 
            Før det jobbet jeg som leder for en service bedrift, men mitt ønske har alltid vært å jobbe innenfor det tekniske feltet, 
            derfor bestemte jeg meg for å studere igjen og ble ingeniør (en avgjørelse som jeg er veldig glad for). 
            Arbeidet med å finne løsninger på tekniske problemstillinger har gitt meg bekreftelse på at jeg har valgt riktig. 
            Det gir meg alltid en følelse av stolthet og motivasjon til å utvikle meg videre å tilegne meg ny kunnskap.
        </p>
        <span class="sicon sicon-guestbook"> </span>
        <blockquote style="font-style: italic; font-size: 16px; width: 50%; text-align: right">
            <p> For å gjøre dumme ting behøver du ikke å være dum, det eneste du trenger er å være uforsiktig</p>
            <footer style="text-align: right">Meg selv</footer>
        </blockquote>
        <p>
            <h4 style="padding-top: 10px;"><strong>Software</strong></h4>
            <ul class="list-group" style="width: 80%;">
                <li class="list-group-item" style="border: solid 0; padding: 5px;">PLC Programmering i Siemens Step 7<span class="badge">90%</span></li>
                <li class="list-group-item" style="border: solid 0; padding: 5px;">Proface<span class="badge">80%</span></li>
                <li class="list-group-item" style="border: solid 0; padding: 5px;">Excel  programmering  i Visual Basic<span class="badge">70%</span></li>
                <li class="list-group-item" style="border: solid 0; padding: 5px;">Solidworks<span class="badge">50%</span></li>
                <li class="list-group-item" style="border: solid 0; padding: 5px;">CLion a cross-platform C and C++ IDE for Windows integrated with the CMake build system.<span class="badge">50%</span></li>
                <li class="list-group-item" style="border: solid 0; padding: 5px;">Versjonskontrollsystem GIT<span class="badge">70%</span></li>
            </ul>
        </p>
    </div>
</div>
