@using (Html.BeginForm("ImageUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <h3> Upload Image </h3>
    <input type="file" name="file" value="browse" />
    <br />
    <input type="submit" value="Upload" />
}

@if (ViewBag.UploadSuccess == true)
{
    <span> Upload Completed Successfully</span>
}